@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$Violet: hsl(257, 40%, 49%);
$Violet2: #954EC8;

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $Violet;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 91.5vw 100vh;
    color: #ffffff;
}

.container{
    margin: 4% auto 0;
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img{
        width: 16.2%;
    }
    .content-huddle{
        margin-top: 6.62%;
        display: flex;
        img{
            width: 54.7%;
        }
        .info{
            margin-left: 4.1%;
            h1{
                padding: 0;
                margin: 0;
                margin-top: 8.4%;
                font-family: 'Poppins', sans-serif;
                font-size: 2.35rem;
                font-weight: 600;
                word-spacing: 0;
            }
            p{
                margin-top: 3.8%;;
                font-size: 1.1rem;
                line-height: 1.6rem;
                color: #ebebeb;
            }
            button{
                border: 0;
                background-color: #ffffff;
                margin-top: 1.22%;
                padding: 1rem;
                width: 38%;
                border-radius: 2rem;
                color: $Violet;
                font-size: 1.1rem;
                box-shadow: 0px 9px 32px -9px rgba(0,0,0,0.59);
                cursor: pointer;
                transition: .5s;
                &:hover{
                    background-color: $Violet2;
                    color: #ffffff;
                }
            }
        }
    }
}

footer {
    margin: 1.3rem auto 0;
    width: 90%;
    .redes{
        font-size: 1.2rem;
        display: flex;
        justify-content: flex-end;
        i{
            width: 35px;
            height: 35px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            margin-left: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                color: #FCAB83;
                border: 1px solid #FCAB83;
            }
        }
    }
    font-size: 11px;
    text-align: center;
    p{
        a {
            text-decoration: none;
            color: hsl(227, 27%, 76%);
        }
    }
}

@media screen and (max-width: 995px){
    :root{
        font-size: 15px;
    }
}

@media screen and (max-width: 930px){
    :root{
        font-size: 14px;
    }
}

@media screen and (max-width: 870px){
    :root{
        font-size: 13px;
    }
}

@media screen and (max-width: 800px){
    :root{
        font-size: 15px;
    }
    body{
        background-image: url(../images/bg-mobile.svg);
        background-size: 100vw 69.5vh;
    }
    .container{
        margin: 8.8% auto 0;
        img{
            width: 39%;
        }
        .content-huddle{
            flex-direction: column;
            align-items: center;
            img{
                width: 100%;
            }
            .info{
                margin-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1, p{
                    text-align: center;
                }
            }
        }
    }
    footer{
        margin: 3rem auto 0;
        .redes{
            justify-content: center;
        }
    }
}

@media screen and (max-width: 580px){
    .container{
        width: 84%;
        margin: 9.4% auto 0;
        .content-huddle{
            margin-top: 20.5%;
            .info{
                margin-top: 11.5%;
                h1{
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                }
                p{
                    margin-top: .85rem;
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                }
                button{
                    margin-top: 2.5%;
                    padding: .88rem;
                    width: 66.5%;
                    border-radius: 2rem;
                    color: $Violet;
                    font-size: .8rem;
                }
            }
        }
    }
    footer{
        margin: 4.25rem auto 0;
        .redes{
            font-size: .8rem;
            i{
                width: 26px;
                height: 26px;
                margin-left: .66rem;
            }
        }
    }
}
